<style>
    .area { float:left; width:10%; }
    .area h2 { text-align:center; }
    .section { float:left; margin:0.25em; padding:0.25em; color:darkred;}
    .blue { color:blue !important; }
    #options div { float:left; margin:1em;}
    hr {clear:left;}
    #sum { text-align:right;}
    #sum-label { text-align:left; }
    th { background-color:lightgray; }
    table { width:100%; }
    td { white-space: nowrap; }
    td input { width: 100%; }
</style>

<form id='form-contact' method="POST">
    <div id="options">
        <div id="div-band">
            <label for="band">Band</label>

            <select name="band" id="band">
                {{#each bands }}
                <option value="{{name}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div id="div-mode">
            <label for="mode">Mode</label>

            <select name="mode" id="mode">
                {{#each modes }}
                <option value="{{name}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
    
        <div id="div-operator">
            <label for="operator_callsign">Operator Callsign</label>
            <input type="text" name="operator_callsign" id="operator_callsign" value={{operator_callsign}}>
        </div>
    </div>
<hr>


<div id="sections-list">
    {{#each sections }}
    <div class="area" id="area-{{id }}">
        <h2>{{id }}</h2>
    {{#each values }}
        <div class="section" id="section-{{name }}">{{ name }}</div>
    {{/each }}
    </div>
    {{/each }}
</div>

<hr>
<div id="contacts">
    <table id="contacts">
        <thead>
            <tr>
                <th colspan="7"><div id="message"></div></th>
            </tr>
            <tr>
                <td><strong>Log : </strong></td>
                <td><input type="text" id="callsign" name="callsign" autocomplete="off"></td>
                <td><input type="text" id="class" name="class" autocomplete="off"></td>
                <td><input type="text" id="section" name="section" autocomplete="off"></td>
                <td colspan="3"><button id="add_contact">Add Contact</button></td>
            </tr>
            <tr>
                <th>Time</th>
                <th><label for="callsign">Callsign</label></th>
                <th><label for="Class">Class</label></th>
                <th><label for="Section">Section</label></th>
                <th>Band</th>
                <th>Mode</th>
                <th>Station</th>
            </tr>
            <input type="hidden" id="station_name" name="station_name" value="{{station_name}}">
            <input type="hidden" name="radio" value="{{radio}}">
            </form>
            <tr>
                <th id="sum-label" colspan="6">Total Contacts: </th>
                <th id="sum"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

    
<script>
    $(function(){
        $('#callsign').focus();

        $("input[type=text]").bind('keyup', function (e) {
            if (e.which >= 97 && e.which <= 122) {
                var newKey = e.which - 32;
                // I have tried setting those
                e.keyCode = newKey;
                e.charCode = newKey;
            }

            $(this).val($(this).val().toUpperCase());

        });
        



        
        schedule();

        function schedule() { 

            if('{{{radio}}}' != '') { 
                updateRadio();
            }
            check_sections();
            load_contacts();

            setTimeout(function(){ 
                schedule();
            }, 5000);
        }

        function check_sections() { 
            $('.contacts-section').each(function(){
                $('#section-' + $(this).text()).addClass('blue');
            });
        }
        
        function updateRadio() {
            $.ajax({
                url: "/config/radio",
            })
            .done(function( data ) {
                $('#band').val(data.band); 
                $('#mode').val(data.mode); 
            });
        }

        async function check_dupe() { 
            return new Promise(async (resolve, reject) => {
                try {
                    var contacts = [];
                    $.ajax({
                        url: "/contacts/find",
                        method: 'POST',
                        data: {
                            selector: {
                                callsign: $('#callsign').val(),
                                band: $('#band').val(),
                                mode: $('#mode').val()
                            }
                        }

                    })
                    .done(function( data ) {
                        if(data.length > 0) { 
                            return resolve(true); 
                        } else { 
                            // return false; 
                            return resolve(false);
                        }
                    });
                } catch (err) {
                    console.log(`check_dupe error: ${err}`);
                    return reject(err);
                }
            });
        }

        load_contacts();

        $('#form-contact').on('submit', async function(e) {
                e.preventDefault();
                if($('#callsign').val() == '' || $('#class').val() == '' || $('section').val() == '') { 
                    $('#message').text('Incomplete Contact!');
                
                } else { 
                    
                    if(await check_dupe()) { 
                        $('#message').text('Duplicate Contact! ' + $('#callsign').val());
                    } else { 
                        var contact = { 
                            callsign: $('#callsign').val(),
                            band: $('#band').val(),
                            mode: $('#mode').val(),
                            section: $('#section').val(),
                            class: $('#class').val(),
                            operator_callsign: $('#operator_callsign').val(),
                            station_name: $('#station_name').val()
                        }
                        
                        $.ajax({
                            type: "POST",
                            url: '/contacts',
                            data: contact,
                            success: function() {
                                load_contacts();
                            }
                        });
                    }
                }
            return false;
        });
    });

    function load_contacts() {
        $.ajax({
                url: "/contacts/json",
            })
            .done(function( data ) {
                $('#contacts tbody').html('');
                if(data.length > 0) {
                    data.forEach(function(row) { 
                        $('#contacts tbody').append('<tr><td>' + row.timestamp + '</td><td>' + row.callsign + '</td><td>' + row.class + '</td><td class="contacts-section">' + row.section + '</td><td>' + row.band + '</td><td>' + row.mode + '</td><td>' + row.station_name +'</td></tr>');
                    });
                    
                }  
                    $('#sum').text(data.length);
            });
        
    }
</script>